nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

.menu {
    font-family: 'Subjectivity-medium', 'san serif';
    text-decoration: none;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.menu a { 
    color: #252424;
    text-decoration: inherit;
    transition: .2s;
    line-height: 4vw;
  }
.menu a:hover {
    font-size: 4vw;
    font-weight: 500;
    color: #3e3e3e;
    font-size: 125%;
  }

  @media screen and (max-width: 900px) {
    nav {
      flex-direction: column;
      margin: 5px 20px;
    }

    .menu {
      flex-direction: row;
      justify-content: space-between;
      margin: 20px 10px 5px 10px;
    }

    .menu a {
      font-family: 'Subjectivity-Medium', sans-serif;
    }
  }